{% extends 'dashboard_base.html' %}

{% block page_custom_css %}
 <link href="/assets/css/pages/wizard/wizard-4.css?v=7.0.6" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block page_content %}
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Heading-->
									<div class="d-flex flex-column">
										<!--begin::Title-->
										<h2 class="text-white font-weight-bold my-2 mr-5">Complete Signup</h2>
										<!--end::Title-->
										<!--begin::Breadcrumb-->
										<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="#" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Home</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Complete Signup</a>
											<!--end::Item-->
										</div>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Heading-->
								</div>
								<!--end::Info-->

							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<div class="card card-custom card-transparent">
									<div class="card-body p-0">
										<!--begin: Wizard-->
										<div class="wizard wizard-4" id="kt_wizard_v4" data-wizard-state="first" data-wizard-clickable="true">
											<!--begin: Wizard Nav-->
											<div class="wizard-nav">
												<div class="wizard-steps">
													<!--begin::Wizard Step 1 Nav-->
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
														<div class="wizard-wrapper">
															<div class="wizard-number">1</div>
															<div class="wizard-label">
																<div class="wizard-title">Add Account</div>
																<div class="wizard-desc">Select & Link Bank Accounts</div>
															</div>
														</div>
													</div>
													<!--end::Wizard Step 1 Nav-->
													<!--begin::Wizard Step 2 Nav-->
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
														<div class="wizard-wrapper">
															<div class="wizard-number">2</div>
															<div class="wizard-label">
																<div class="wizard-title">Two-Factor Authentication</div>
																<div class="wizard-desc">Verify OTP for Bank Account</div>
															</div>
														</div>
													</div>
													<!--end::Wizard Step 2 Nav-->
													<!--begin::Wizard Step 3 Nav-->
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
														<div class="wizard-wrapper">
															<div class="wizard-number">3</div>
															<div class="wizard-label">
																<div class="wizard-title">Consent Request</div>
																<div class="wizard-desc">Manage & Auth your Request</div>
															</div>
														</div>
													</div>
													<!--end::Wizard Step 3 Nav-->
													<!--begin::Wizard Step 4 Nav-->
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
														<div class="wizard-wrapper">
															<div class="wizard-number">4</div>
															<div class="wizard-label">
																<div class="wizard-title">Two-Factor Authentication</div>
																<div class="wizard-desc">Verify OTP for Consent</div>
															</div>
														</div>
													</div>
													<!--end::Wizard Step 4 Nav-->
												</div>
											</div>
											<!--end: Wizard Nav-->
											<!--begin: Wizard Body-->
											<div class="card card-custom card-shadowless rounded-top-0">
												<div class="card-body p-0">
													<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
														<div class="col-xl-12 col-xxl-7">
															<!--begin: Wizard Form-->
															<form class="form mt-0 mt-lg-10 fv-plugins-bootstrap fv-plugins-framework" id="kt_form" novalidate="novalidate" method="post" action="">
																<!--begin: Wizard Step 1-->
                                                                {%  csrf_token %}
																<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
																	<div class="mb-10 font-weight-bold text-dark h1">Select your Account Details</div>
																	<!--begin::Input-->
                                                                    <p class="h3">Bank of Baroda</p>

                                                                    <br>
																	<div class="form-group">
														<label>Select Type of Account you want to Link</label>
														<div class="checkbox-inline">
															<label class="checkbox checkbox-rounded">
															<input type="checkbox" checked="checked" name="save_acc">
															<span></span>Option 1asdasdasdasdasdasd</label>
															<label class="checkbox checkbox-rounded">
															<input type="checkbox"  checked="checked" name="dp_acc">
															<span></span>Option 2asdasdasdasdasdasd</label>
															<label class="checkbox checkbox-rounded">
															<input type="checkbox" checked="checked" name="recurr_acc">
															<span></span>Option 3asdasdasdasdsa</label>
														</div>
														<span class="form-text text-muted">Account number Hidden</span>
													</div>
																</div>
																<!--end: Wizard Step 1-->
																<!--begin: Wizard Step 2-->
																<div class="pb-5" data-wizard-type="step-content">
																	<div class="mb-10 font-weight-bold text-dark h3">Account Addition OTP</div>
                                                                            <!--begin::Input-->
																			<div class="form-group fv-plugins-icon-container has-success">
																				<label>Postcode</label>
																				<input type="text" class="form-control form-control-solid form-control-lg is-valid" name="acc_otp" size="6" placeholder="OTP" value="123456">
																				<span class="form-text text-muted">Please enter your OTP.</span>
																			<div class="fv-plugins-message-container"></div></div>
																			<!--end::Input-->


																</div>
																<!--end: Wizard Step 2-->
																<!--begin: Wizard Step 3 -->
																<div class="pb-5" data-wizard-type="step-content">
																	<div class="mb-10 font-weight-bold text-dark h1">Select Consent</div>

																	<div class="row">
                                                                        <p class="h1"></p></div>
																	<div class="row">

                                                                        <div class="form-group">
                                                                            <label>Select Type of Account you want to Link</label>
                                                                            <div class="checkbox-inline">
                                                                                <label class="checkbox checkbox-rounded">
                                                                                <input type="checkbox" checked="checked" name="acc_consent_type" value="saving_acc_consent">
                                                                                <span></span>Saving Account</label>
                                                                                <label class="checkbox checkbox-rounded">
                                                                                <input type="checkbox"  checked="checked" name="acc_consent_type" value="deposit_acc_consent">
                                                                                <span></span>Deposit Account</label>
                                                                                <label class="checkbox checkbox-rounded">
                                                                                <input type="checkbox" checked="checked" name="acc_consent_type" value="recurring_acc_consent">
                                                                                <span></span>Recurring Account</label>
                                                                            </div>
                                                                        </div>


																	</div>

                                                                    <div class="form-group">
                                                                        <label >Duration</label>

                                                                        <div class="form-group">
                                                                            <div class="radio-inline">
                                                                                <label class="radio">
                                                                                    <input type="radio" disabled="disabled" name="consent_duration" value="1d"/>
                                                                                    <span></span>
                                                                                    1 Day
                                                                                </label>
                                                                                <label class="radio">
                                                                                    <input type="radio" disabled="disabled" name="consent_duration" value="7d"/>
                                                                                    <span></span>
                                                                                    7 Days
                                                                                </label>
                                                                                <label class="radio">
                                                                                    <input type="radio"  disabled="disabled "name="consent_duration" value="14d"/>
                                                                                    <span></span>
                                                                                    14 Days
                                                                                </label><label class="radio radio-success">
                                                                                <input type="radio"  checked="checked" name="consent_duration" value="1m"/>
                                                                                <span></span>
                                                                                1 Month
                                                                            </label>

                                                                                <label class="radio">
                                                                                    <input type="radio" name="consent_duration" value="3m"/>
                                                                                    <span></span>
                                                                                    3 Month
                                                                                </label>
                                                                                <label class="radio">
                                                                                    <input type="radio" name="consent_duration" value="6m"/>
                                                                                    <span></span>
                                                                                    6 Month
                                                                                </label>
                                                                                <label class="radio">
                                                                                    <input type="radio" name="consent_duration" value="1y"/>
                                                                                    <span></span>
                                                                                    1 year
                                                                                </label>
                                                                            </div>
                                                                            <span class="form-text text-muted label-danger">Minimum Required is 1 Month</span>
                                                                        </div>
                                                                    </div>


																</div>
																<!--end: Wizard Step 3-->
																<!--begin: Wizard Step 4-->
																<div class="pb-5" data-wizard-type="step-content">
																	<!--begin::Section-->
																	<div class="form-group fv-plugins-icon-container has-success">
																				<label>Postcode</label>
																				<input type="text" class="form-control form-control-solid form-control-lg is-valid" name="postcode" size="6" placeholder="OTP" value="123456">
																				<span class="form-text text-muted">Please enter your OTP.</span>
																			<div class="fv-plugins-message-container"></div></div>
																	<!--end::Section-->
																</div>
																<!--end: Wizard Step 4-->
																<!--begin: Wizard Actions-->
																<div class="d-flex justify-content-between border-top mt-5 pt-10">
																	<div class="mr-2">
																		<button type="button" class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
																	</div>
																	<div>
																		<button type="button" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit" >Submit</button>
																		<button type="button" class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" id="nextbtn" data-wizard-type="action-next">Next</button>
																	</div>
																</div>
																<!--end: Wizard Actions-->
															<div></div><div></div><div></div></form>
															<!--end: Wizard Form-->
														</div>
													</div>
												</div>
											</div>
											<!--end: Wizard Bpdy-->
										</div>
										<!--end: Wizard-->
									</div>
								</div>
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
    {% endblock  %}

{% block page_js %}
     <script src="/assets/js/pages/custom/wizard/wizard-4.js?v=7.0.6"></script>
{% endblock %}